body{
    padding: 100px;
}
.submit_area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(246, 246, 246, 0.5), -5px -5px 5px rgba(246, 246, 246, 0.5);
}
#transaction_area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}